<!-- jQuery -->
<script src="{{ site.url }}/assets/creative/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.url }}/assets/creative/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.url }}/assets/creative/js/scrollreveal.min.js"></script>
<script src="{{ site.url }}/assets/creative/js/jquery.easing.min.js"></script>
<script src="{{ site.url }}/assets/creative/js/jquery.fittext.js"></script>
<script src="{{ site.url }}/assets/creative/js/jquery.magnific-popup.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}/assets/creative/js/creative.js"></script>
